<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
          <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvf\
XpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXC\
bMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
    <body>
        <div class="container">
	    <% include ./partials/nav %>
	        <h1><%= title %></h1>
		       <% for(i=0;i<blog.length;i++) { %>
		                <div class="card text-center mt-3">
				           <div class="card-header">
					                <%= blog[i].author %>
							           </div>
								              <div class="card-body">
									                   <h5 class="card-title"><%= blog[i].blogTitle %></h5>
											                <p class="card-text"><%= blog[i].blogText %></p>
													           </div>
														              <div class="card-footer text-muted">
															                   <a href="..\blog\edit\<%= blog[i]._id%>" class="fa fa-flask"></a>
																	                <a href="..\blog\delete\<%= blog[i]._id%>"  class="fa fa-trash"></a>
																			           </div>
																				            </div>
																					             <% } %>
																						            </div>
																							      </body>
																							      </html>
